@charset "utf-8";
*{margin: 0;padding: 0;outline: none;}
body{background:url(../images/bg.jpg) no-repeat top center;background-color:#0c1260;}
.content{width: 100%;margin: 68px auto 0;position: relative;}
.dangkyblock{width: 380px;height: 466px;margin: 0 auto;position: relative;overflow: hidden;background: url(../images/bg-popup.png) no-repeat top center;}
.dangkyblock ul.dangkyform{list-style: none;width: 77%;margin: 0 auto;padding-top: 94px;height: auto;}
ul.dangkyform li{display: block;margin-bottom: 10px;font-family: Roboto, Arial, sans-serif;color: #585858;font-size: 16px;}
ul.dangkyform li input{width:100%;height: 54px;margin: 0 auto;background: rgba(255,255,255,1.00);border-radius: 4px;text-indent: 15px;border: none;}
ul.dangkyform li a.buttondangky{display: block;}
ul.dangkyform li a.buttondangky img{max-width: 100%;}























