@charset "utf-8";
*{margin: 0;padding: 0;outline: none;font-family: 'K2D', sans-serif;}
body{background:url(../images/bg.jpg) no-repeat top center;background-color:#0c1260;}
.content{width: 100%;margin: 68px auto 0;position: relative;}
.dangkyblock{width: 380px;height:509px;margin: 0 auto;position: relative;overflow: hidden;background: url(../images/bg-popup.png) no-repeat top center;}
.dangkyblock ul.dangkyform{list-style: none;width: 77%;margin: 0 auto;padding-top: 86px;height: auto;}
ul.dangkyform li{display: block;margin-bottom:8px;font-family: Roboto, Arial, sans-serif;color: #585858;font-size: 16px;overflow:hidden;clear:both;}
ul.dangkyform li input{width:100%;height: 49px;margin: 0 auto;background: rgba(255,255,255,1.00);border-radius: 4px;text-indent: 15px;border: none;}
ul.dangkyform li a.buttondangky{display: block;}
ul.dangkyform li a.buttondangky img{max-width: 100%;}
ul.dangkyform li input.capcha{width: 100%;}
ul.dangkyform li .capcha1{float: left;}
ul.dangkyform li .capcha1 img{max-width: 100%;}
ul.dangkyform li .refresh{float:left;}