@import url(font-face.css);

body {
  background: #0b1f35 url(../images/bg.png) no-repeat;
  background-size: 100% 100%;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700
}

#box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -160px;
  position: relative
}

#text-img {
  margin-top: -85px
}

#box-gift {
  display: flex;
  justify-content: space-around;
  align-items: flex-end
}

.form-regist {
  background: url(../images/bg-regist.png) no-repeat;
  background-size: 100% 100%;
  padding: 5px 20px 0px 20px;
  color: #fff
}

.form-regist h4 {
  padding: 20px;
  font-size: 24px
}

#input-capcha {
  width: 150px;
  float: left
}

.group-inline {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: unset !important;
  background-image: url(../images/bg-input.png) !important;
  color: #fff !important
}

input[type="text"], input[type="password"] {
  background: url(../images/bg-input.png) no-repeat;
  background-size: 100% 100%;
  border: none;
  color: #fff;
  height: 45px;
  text-align: left;
  font-size: 18px;
  width: 300px
}

.help {
  max-width: 250px;
  word-break: break-word;
  display: block;
  color: #cecece;
  font-size: 13px;
  padding-left: 5px;
  padding-top: 5px
}

input:focus {
  outline: none !important;
  box-shadow: none !important
}

input::placeholder {
  color: #fff !important;
  font-family: 'Roboto';
  font-weight: 700
}

@media(max-width:640px) {
}

@media(max-width:480px) {
}

@media(max-width:375px) {
}

.btn-refresh-capcha {
  background: url(../images/refesh-icon.png) no-repeat;
  background-size: 100% 100%;
  width: 39px;
  height: 39px;
  border: none;
  cursor: pointer
}

#capcha {
  height: 45px;
  width: 80px
}

#refresh-capcha {
  border: none;
  background: url(../images/bg-refresh.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%
}

#gift {
  top: -200px;
  position: relative;
  width: 560px;
  z-index: -1;
  left: -155px
}

#text-img {
  width: 730px
}

.logo {
  width: 420px
}

#girl {
  width: 490px
}

#form {
  position: relative;
  top: -230px;
  left: -30px
}

img {
  max-width: 100%
}

#refresh-capcha:focus, #refresh-capcha:active {
  outline: none
}

form button {
  background: none;
  border: none
}

form button:focus, form button:active {
  outline: none
}

.btn-regist img {
  height: 60px;
  max-width: 100%
}

.btn-fb-login img {
  height: 60px;
  max-width: 100%
}

@media(max-width:1024px) {
  #form {
    top: unset;
    left: unset
  }

  #gift {
    top: -178px;
    position: relative;
    width: 560px;
    left: unset
  }

}

#coins {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  overflow: hidden;
}

@media(max-width:768px) {
  #text-img {
    width: 530px
  }

  .logo {
    width: 350px
  }

}

@media(max-width:460px) {
  body {
    background-size: auto;
    background-position: center
  }

  #girl, #gift {
    display: none
  }

  #text-img {
    width: 100%;
    margin-top: -60px
  }

  .logo {
    width: 300px
  }

}

.vibrate-3 {
  -webkit-animation: vibrate-3 .5s linear 2 both;
  animation: vibrate-3 .5s linear 2 both
}

.bounce-top {
  -webkit-animation: bounce-top .9s both;
  animation: bounce-top .9s both
}

.shake-horizontal {
  -webkit-animation: shake-horizontal .8s cubic-bezier(.455, .03, .515, .955) both;
  animation: shake-horizontal .8s cubic-bezier(.455, .03, .515, .955) both
}

@-webkit-keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px)
  }

  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }

}

@keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px)
  }

  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }

}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }

}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }

}

@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

}

@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

}

/* LANDING 2 */
.landing2 #text-img {
  margin-top: -140px;
  width: 900px;
}

body.landing2 {
  background: #0b1f35 url(../images/bg-2.png) no-repeat;
  background-size: 100% 100%;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700
}

.landing2 #girl {
  width: auto;
}

.landing2 #gift {
  top: -200px;
  width: auto;
  z-index: -1;
  left: -270px;
}

.landing2 #box-gift {
  margin-top: -170px;
}

.landing2 #form {
  left: -100px;
}

@media(max-width:1366px) {
  .landing2 #box-gift {
    margin-top: -110px;
  }

  .landing2 #gift {
    top: -180px;
    width: auto;
    z-index: -1;
    left: -165px;
  }

  #form {
    left: -160px;
    zoom: .85;
  }

}

@media(max-width:1024px) {
  #box-text {
    left: unset;
  }

  .landing2 #box-gift {
    margin-top: auto;
  }

  .landing2 #gift {
    left: -160px;
  }

  #form {
    left: -80px;
    zoom: .6;
  }

  .landing2 #form {
    left: -110px;
    zoom: .7;
  }

  .landing1 #gift {
    left: -60px;
    top: -110px;
  }

}

@media(max-width:768px) {
  .landing2 #text-img {
    width: 100%;
    margin-top: -100px;
  }

  .landing2 #gift {
    top: -150px;
    left: -60px;
  }

  .landing2 #form {
    zoom: .7;
    left: -40px;
  }

}

.hide-mobile {
  display: block;
}

.hide-desktop {
  display: none;
}

@media(max-width:640px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .landing2 #text-img {
    margin-top: -80px;
  }

  #form, .landing2 #form {
    zoom: 1;
    left: auto;
    width: 350px;
    margin: 15px auto;
  }

  #box-gift {
    display: block;
  }

  .landing2  #gift {
    display: block;
    max-width: 70%;
    left: unset;
    top: unset;
    margin: 0 auto;
  }

  .landing1  #gift {
    display: block;
    max-width: 100%;
    top: -145px;
    left: unset;
  }

  .landing1 #form {
    top: -170px;
  }

}
